@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  scroll-behavior: smooth;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h4,
p {
  margin: 0%;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}

h1 {
  font-weight: 550px;
}

h2 {
  margin: 1rem 0 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 550px;
  text-align: start;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --primary-text-color: black;
  --secondary-text-color: white;
  --primary-bg-color: white;
  --secondary-bg-color: #f6f6f6;
  --footer-bg-color: #353535;
  --primary-border-color: ;
  --secondary-border-color: ;
  --primary-hover-color: ;
  --secondary-hover-color: ;
  --newButton-bg-color: #99e2d0;
  --newButton-text-color: #008766;
  --input-bg-color: #eaeaea;
  --input-text-color: #525252;
  --gradient1: linear-gradient(#ff79da, #9356dc);
  --gradient2: linear-gradient(#9356dc, lighten(#9356dc, 10));
  --cal-color: linear-gradient(357deg, #9356dc 4%, #ff79da 96%);
  --shadow: 0px 3px 5px 2px #e9e9e9;
  --grisMoyen: #7e7e7e;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  padding: 1rem;
}
footer ul {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
}
footer li {
  padding: 0.2rem;
}
footer i {
  padding-right: 0.2rem;
}

.footer__title {
  font-family: "Shrikhand", "Roboto", "sans-serif";
  font-size: 1.2rem;
}

.footer img {
  width: 6rem;
}

.footer svg {
  color: white;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 3rem 0 0;
  }
  .footer__title {
    padding: 0 0 0 2rem;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 1rem 4rem 1rem 0;
  }
  .footer li {
    padding: 0.5rem;
  }
}
header {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.reservations {
  background-color: var(--secondary-bg-color);
  padding: 1px 0 30px 0;
}
.reservations h1,
.reservations p {
  text-align: center;
}
.reservations h1 {
  font-weight: bolder;
  font-size: 1.5em;
  margin: 35px 50px 0px 50px;
}
.reservations p {
  margin: 15px 25px 15px 25px;
  font-size: 1.1em;
  color: var(--primary-text-color);
}

.function {
  background-color: var(--primary-bg-color);
  padding: 2rem 1rem 3rem 1rem;
  max-width: 1024px;
  margin: auto;
}

.restaurants {
  padding: 2rem 1.25rem 2rem 1.25rem;
  background-color: var(--secondary-bg-color);
}
.restaurants__list {
  display: flex;
  flex-direction: column;
}

.citySearch {
  background: var(--input-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 5px 0px #c5c5c5;
  color: var(--input-text-color);
  height: 4rem;
  font-size: large;
}
.citySearch i {
  margin: 0rem 1.5rem 0rem 5rem;
}
.citySearch input {
  height: 85%;
  background-color: var(--input-bg-color);
  border: none;
  font-weight: bold;
}

.cta {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}
.cta .cta__btn {
  color: var(--secondary-text-color);
  background: var(--cal-color);
  border-radius: 25px;
  padding: 1rem 1.25rem 1rem 1.25rem;
  box-shadow: 0px 3px 5px 2px #c5c5c5;
  transition-duration: 0.5s;
}
.cta .cta__btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.function__steps {
  counter-reset: steps;
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .function__steps {
    flex-direction: column;
    padding: 1rem;
  }
}

.function__btn {
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 1.5rem;
  flex-grow: 1;
  padding: 1.5rem 0;
  width: 100%;
  box-shadow: #d5d5d5 0rem 0.2rem 0.5rem 0.1rem;
}
.function__btn:hover {
  transition: all 80ms ease-in;
  background-color: var(--primary-color) .function__btn:hover i;
  background-color-transition: all 80ms ease-in;
  background-color-color: var(--primary-color);
}
.function__btn::before {
  counter-increment: steps;
  content: counter(steps);
  position: relative;
  left: -0.8rem;
  color: var(--secondary-text-color);
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.function__btn i {
  color: var(--grisMoyen);
  padding: 0 1rem;
  font-size: 1.3rem;
}
.function__btn i:hover {
  color: var(--primary-color);
}

.restaurants__card {
  height: 16.25rem;
  width: 100%;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  box-shadow: var(--shadow);
  margin-bottom: 1.25rem;
  text-decoration: none;
  color: var(--primary-text-color);
}
.restaurants__card img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.restaurants__card__text {
  margin: -10px 20px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card__text h3 {
  margin: 1rem;
}
.restaurants__card__text p {
  margin: 1rem;
  font-size: 1rem;
  margin-top: -10px;
}
.restaurants__card:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.restaurants__card {
  width: 470px;
  margin: 10px 20px;
}

.new {
  float: right;
}
.new span {
  background-color: var(--newButton-bg-color);
  margin: 11px -92px;
  padding: 5px 12px 5px 12px;
  position: absolute;
  color: var(--newButton-text-color);
  border-radius: 4px;
  font-size: 0.9em;
}

.heart {
  color: black;
  cursor: pointer;
}
.heart:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}
.loader__circle--1 {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: var(--primary-color);
  animation: spin 1s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle--2 {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: var(--secondary-color);
  animation: spin 1.25s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle--3 {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: var(--tertiary-color);
  animation: spin 1.5s linear infinite;
  position: absolute;
  margin: auto;
}

.disappear {
  animation: end 1s forwards;
  animation-delay: 2s;
}

@media screen and (min-width: 1024px) {
  .restaurants__list {
    max-width: 1024px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
header i {
  position: absolute;
  left: 28px;
  top: 28px;
  font-size: 1rem;
}

.imgBanner {
  height: 200px;
  width: 100%;
  z-index: -1;
}

.nameResto {
  padding: 1rem 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameResto h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
menuItem__confirmation {
  background-color: var(--tertiary-color);
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
menuItem:hover menuItem__confirmation {
  margin-right: -1rem;
}
menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
menuItem:hover menuItem__wrapIcon {
  transform: rotate(0);
}
menuItem__icon {
  color: var(--tertiary-color);
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.containerPlats__title {
  position: relative;
  font-weight: 300;
  padding: 0 0 0.3rem 0;
  margin: 1rem;
}
.containerPlats__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--tertiary-color);
}
.containerPlats__mets {
  height: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  border-radius: 1rem;
  margin: 0 1rem 1rem 1rem;
  box-shadow: var(--shadow);
}
.containerPlats__mets__title {
  margin: 1rem 0 0 1rem;
}
.containerPlats__mets__infos {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.containerPlats__mets__infos__text {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.containerPlats__mets__infos__price {
  font-weight: bold;
}

.menuResto {
  position: relative;
  margin: -5rem 0 0 0;
  background-color: var(--secondary-bg-color);
  border-radius: 2rem 2rem 0 0;
}

.containerPlats {
  width: 100%;
}
@media (min-width: 992px) {
  .containerPlats {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.containerPlats__menu {
  width: 100%;
}
@media (min-width: 992px) {
  .containerPlats__menu {
    width: 33%;
  }
}
.containerPlats__menu__title {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 0.3rem;
  margin: 1rem 0;
}
.containerPlats__menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--tertiary-color);
}

.btn__command {
  width: 10rem;
}

/* pages */

/*# sourceMappingURL=style.css.map */
