@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  scroll-behavior: smooth;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h4,
p {
  margin: 0%;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}

h1 {
  font-weight: 550;
}

h2 {
  width: 100%;
  margin: 1rem 0;
  font-size: 24px;
  font-weight: 550;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --primary-text-color: black;
  --secondary-text-color: white;
  --primary-bg-color: white;
  --secondary-bg-color: #f6f6f6;
  --footer-bg-color: #353535;
  --primary-border-color: ;
  --secondary-border-color: ;
  --primary-hover-color: ;
  --secondary-hover-color: ;
  --newButton-bg-color: #99e2d0;
  --newButton-text-color: #008766;
  --input-bg-color: #eaeaea;
  --input-text-color: #525252;
  --heart-color1: linear-gradient(#9356dc, #ff79da);
  --cal-color: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  --cal-color2: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%),
  	linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  --button-shadow: 0px 0.2rem 0.3rem 0.1rem #e9e9e9;
  --grisMoyen: #7e7e7e;
  --shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  align-items: self-start;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
}
footer ul {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
}
footer li {
  padding: 0.2rem;
  transition: 0.5s;
}
footer li i {
  padding-right: 0.2rem;
}

.footer__title {
  font-family: "Shrikhand", "Roboto", "sans-serif";
  font-size: 1.2rem;
  transition: 0.5s;
}

.footer img {
  width: 6rem;
}

.footer svg {
  color: var(--secondary-text-color);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  padding: 1rem 0;
}
header h1 {
  display: none;
}

.function {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  padding: 2rem 0 2rem 1rem;
  background-color: var(--primary-bg-color);
  max-width: 1024px;
}

.function__steps {
  counter-reset: steps;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--secondary-bg-color);
}
.restaurants h2 {
  max-width: 1024px;
  margin: auto;
  padding: 0;
}
.restaurants__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  padding: 2rem 0;
  gap: 2rem;
}

.citySearch {
  background: var(--input-bg-color);
  height: 4rem;
  color: var(--input-text-color);
  font-size: large;
  box-shadow: inset 0 0.2rem 0.3rem 0 #c5c5c5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.citySearch i {
  margin: 0rem 1.5rem 0rem 5rem;
}
.citySearch input {
  height: 85%;
  background-color: var(--input-bg-color);
  border: none;
  font-weight: bold;
}

.cta {
  text-align: center;
  margin: 1rem;
}
.cta .cta__btn {
  color: var(--secondary-text-color);
  background: var(--cal-color);
  border-radius: 1.5rem;
  padding: 1rem 1.25rem;
  box-shadow: 0 0.25rem 0.6rem 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.cta .cta__btn:hover {
  background: var(--cal-color2);
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.35);
}

.function__btn {
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 1.5rem;
  padding: 1.5rem 0;
  width: 100%;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.function__btn i {
  color: var(--grisMoyen);
  padding: 0 1rem;
  font-size: 1.3rem;
}
.function__btn:hover {
  transition: all 80ms ease-in;
  background-color: var(--primary-color)
}
.function__btn:hover i {
  color: var(--primary-color);
}
.function__btn:hover::before {
  scale: 1.5;
}
.function__btn::before {
  counter-increment: steps;
  content: counter(steps);
  position: relative;
  left: -0.8rem;
  color: var(--secondary-text-color);
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.restaurants__card {
  display: flex;
  flex-direction: column;
  height: 17rem;
  width: 100%;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  box-shadow: var(--shadow);
  color: var(--primary-text-color);
  transition: 0.5s;
}
.restaurants__card img {
  width: 100%;
  object-fit: cover;
  height: 11rem;
  border-radius: 15px 15px 0 0;
}
.restaurants__card__resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.restaurants__card__resto__text {
  margin: 0rem;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  float: inline-end;
}
.label .label__new {
  background-color: var(--newButton-bg-color);
  margin: 11px -92px;
  padding: 0.3rem 0.75rem;
  position: absolute;
  color: var(--newButton-text-color);
  border-radius: 4px;
  font-size: 1rem;
}

.heart {
  cursor: pointer;
  margin: 0 0.2rem 0 0;
}
.heart:hover {
  background: var(--heart-color1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 3s ease-in-out 0ms 1 normal forwards;
}
.loader__circle1 {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: var(--primary-color);
  animation: spin2 0.75s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle2 {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: var(--secondary-color);
  animation: spin 1s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle3 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: var(--tertiary-color);
  animation: spin2 1.25s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle4 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: var(--newButton-text-color);
  animation: spin 1.5s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle5 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: var(--newButton-text-color);
  animation: spin2 1.5s linear infinite;
  position: absolute;
  margin: auto;
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
  }
}
@keyframes spin2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center;
  }
}
@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .function__steps {
    display: flex;
    flex-direction: row;
  }
  .restaurants__list {
    max-width: 1024px;
    display: grid;
    grid: auto-flow/1fr 1fr;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 3rem 0 0;
    width: 100%;
  }
  .footer__title {
    padding: 0 0 0 2rem;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 1rem 4rem 1rem 0;
  }
  .footer li {
    padding: 0.5rem;
  }
}
.explore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  padding: 0;
}

.reservations {
  background-color: var(--secondary-bg-color);
  padding: 2rem 0;
  width: 100%;
}
.reservations h2,
.reservations p {
  text-align: center;
}
.reservations h2 {
  font-weight: bolder;
  font-size: 1.5em;
}
.reservations p {
  padding: 0 0 2rem 0;
  font-size: 18px;
  color: var(--primary-text-color);
}

.containerMenu__select__check {
  width: 100%;
  height: inherit;
  position: absolute;
  background-color: var(--tertiary-color);
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--secondary-text-color);
  right: 0rem;
  text-align: center;
}

.containerMenu__mets {
  margin: 0 1rem 1rem 0;
  background: var(--primary-bg-color);
  height: 5rem;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.containerMenu__mets:hover .containerMenu__mets__infos {
  width: calc(100% - 4.5rem);
  transition: width 0.5s ease-in-out;
}
.containerMenu__mets:hover .containerMenu__select {
  transform: translateX(0px);
  transition: 0.5s ease-in-out;
}
.containerMenu__mets__title {
  margin: 1rem 0 0.5rem 1rem;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.containerMenu__mets__infos {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  transition-duration: 0.5s;
}
.containerMenu__mets__infos__text {
  margin: 0 0 0 1rem;
  font-size: 15px;
  font-weight: 300;
  color: var(--primary-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.containerMenu__mets__infos__price {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  width: 4rem;
  padding: 0 1rem;
}
.containerMenu__select {
  position: absolute;
  background-color: var(--tertiary-color);
  top: 0;
  bottom: 0;
  right: 0;
  width: 4.5rem;
  border-radius: 0 1.25rem 1.25rem 0;
  transform: translate(4.5rem);
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageResto {
  position: relative;
  margin: -5rem 0 0 0;
  background-color: var(--secondary-bg-color);
  border-radius: 3rem 3rem 0 0;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.header__title a {
  position: absolute;
  left: 1rem;
}
.header__title__imgBanner {
  width: 100%;
  z-index: -1;
  max-height: 30rem;
  object-fit: cover;
}

.nameResto {
  width: 100%;
  padding: 2rem 2rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameResto h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  color: var(--primary-text-color);
}
.nameResto .clickHeart {
  margin: 0 0 0 2rem;
}

.containerMenu {
  width: 100%;
  padding: 1rem;
}
.containerMenu__plat {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.containerMenu__plat__title {
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  padding: 0 0 0.3rem 0;
  margin: 1rem 0;
  text-transform: uppercase;
}
.containerMenu__plat__title::after {
  content: "";
  background-color: var(--tertiary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
}

@keyframes SlideUp {
  from {
    transform: translateY(4.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.containerMenu__plat > :nth-of-type(1) {
  animation: SlideUp 0.8s ease-in-out;
}

.containerMenu__plat > :nth-of-type(2) {
  animation: SlideUp 1s ease-in-out;
}

.containerMenu__plat > :nth-of-type(3) {
  animation: SlideUp 1.2s ease-in-out;
}

.containerMenu__plat > :nth-of-type(4) {
  animation: SlideUp 1.4s ease-in-out;
}

@media (min-width: 768px) {
  .nameResto {
    display: flex;
    justify-content: center;
  }
  .pageResto {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .containerMenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20%;
  }
  .containerMenu__menu {
    width: 70%;
  }
}
.btn__command {
  width: 10rem;
}

/*# sourceMappingURL=style.css.map */
