*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Roboto, sans-serif;
  vertical-align: baseline;
}
body{
  scroll-behavior: smooth;
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
h4, p{
  margin: 0%;
}
ul, li{
  text-decoration: none;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}
h1{
  font-weight: 550;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quatuary: #008766;
$color-dark: #eaeaea;
$color-light: #f6f6f6;
$color-input: #525252;
$color-white: white;
$color-light-pink: #f5edff;
$color-icons: #7e7e7e;
$color-footer: #353535;

$shadow-light: 0px 3px 5px 2px #e9e9e9;

@mixin hoverShadow {
  transition: 0.2s ease-in-out;
  transform: scale(1.01);
  box-shadow: 0px 0px 35px #7575758e;
}

.mainLoader{
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-animation: loader 3s linear;
  animation: loader 2.5s linear;
  visibility: hidden;
  background-color: $color-white;
  display: flex;
}

@keyframes loader{
  0% {
      visibility: visible;
      opacity: 0.9;
  }
  70% {
      opacity: 0.8;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.loader{
  width: 100px;
  height: 100px;
  margin: auto;
}

.circlesLoader{
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: $color-secondary;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.circlesLoader:after{
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  bottom: 7px;
  right: 7px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: $color-primary;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

.circlesLoader:before{
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: $color-tertiary;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin{
  0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg); transform-origin: center;}
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); transform-origin: center;}
}

@keyframes spin{
  0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

header{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.citySearch {
  background: $color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 5px 0px #c5c5c5;
  color:$color-input;
  height: 4rem;
  font-size: large;
  i{
    margin: 0rem 1.5rem 0rem 5rem;
  }
  input{
    height: 85%;
    width: 65%;
    background-color: $color-dark;
    border: none;
    font-weight: bold;
  }
}

.reservations{
  background-color: $color-light;
  padding: 1px 0 30px 0;
  & h1, p{
      text-align: center;
  }
  & h1{
      font-weight: bolder;
      font-size: 1.5em;
      margin: 35px 50px 0px 50px;
  }
  & p{
      margin: 15px 25px 15px 25px;
      font-size: 1.1em;
      color: $color-input;
  }
}

.explorer{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  button{
      color: $color-white;
      font-size: 1em;
      background-color: $color-primary;
      background: linear-gradient(357deg, $color-primary 4%, $color-secondary 96%);
      border-radius: 25px;
      padding: 15px 20px 15px 20px;
      box-shadow: 0px 3px 5px 2px #c5c5c5;
      cursor: pointer;
      border: none;
      &:hover{
          @include hoverShadow();
      }
  }
}

.howTo{
  margin: 40px 20px 40px 35px;
  &h2{
    margin: 1rem 0rem 0rem 2rem;
    @media (min-width: 767px){
        margin-left: 8%;
        margin-right: 8%;
    }
  }
  &__step{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      &__card{
          background-color: $color-light;
          padding: 30px 0 25px 0;
          margin-bottom: 25px;    
          border-radius: 25px;
          box-shadow: $shadow-light;
          display: flex;
          vertical-align: center;
          &#pinkCard{
              background-color: $color-light-pink;
              i{
                  color: $color-primary;
              }
          }
          &:hover{
              @include hoverShadow();
          }
          &__bulle{
              height: 25px;
              width: 25px;
              background-color: $color-primary;
              border-radius: 50%;
              margin-right: 10px;
              margin-left: -14px;
              color: $color-white;
              display: flex;
              justify-content: center;
              align-items: center;
          }
          &__text{
              font-weight: bold;
              margin: 2px 0 0 15px;
              i{
                  color: $color-icons;
                  margin-right: 20px;
                  font-size: 19px;
              }
          }
      }
  }
}

.restaurants{
  padding: 30px 20px 30px 20px;
  background-color: $color-light;
  &__list{
      display: flex;
      flex-direction: column;
      &__card{
          height: 260px;
          width: 100%;
          border-radius: 15px;
          background-color: $color-white;
          border-radius: 15px;
          background-color : white;
          box-shadow: $shadow-light;
          margin-bottom: 18px;
          text-decoration: none;
          color: black;
          &__new{
              float: right;
          }
          span{
              background-color: $color-tertiary;
              margin: 11px -92px;
              padding: 5px 12px 5px 12px;
              position: absolute;
              color: $color-quatuary;
              border-radius: 4px;
              font-size: 0.9em;
          }
          img{
              width: 100%;
              object-fit: cover;
              height: 180px;
              border-radius: 15px 15px 0 0;
          }
          &__legend{
              margin: -10px 20px 0 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
          p{
                  font-size: 1.1em;
                  margin-top: -10px;
              }
          }
          &:hover{
              @include hoverShadow();
          }
      }
  }
}

.footer{
  display: flex;
  flex-direction: column;
  background-color: $color-footer;
  color:white;
  align-items: flex-start;
  @media (min-width: 767px){
      align-items: center;
      ul {
          display: flex;
          flex-direction: row;
          width: auto;
      }
  }
  .footer__title {
    margin: 1rem;
        a{
          font-family: 'Shrikhand';
          font-weight: 200;
      }
  }
  ul{
    margin: 0rem 1rem 1rem 1rem;
      li{
      font-size: 0.8rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
     }
    i{
    margin-right: 0.5rem;
    width: 10px;
      }
    }
}
/* pages */

header i{
  text-decoration: none;
  color: $color-footer;
  position: absolute;
  left: 28px;
  top: 28px;
  font-size: 1.1em;
}

.menuImg{
  height: 200px;
  img{
      width: 100%;
  }
}

.restaurantsMenu{
  background-color: $color-light;
  border-radius: 50px 50px 0 0;
  position: relative;
  padding-bottom: 50px;
  .titleMenu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 15px;
      margin-right: 35px;
      h1{
          font-family: Shrikhand;
          font-size: 1.7em;
          font-weight: 500;
      }
  }
  .panelMenu{
      margin: -10px 15px 0 15px;
      h2{
          text-transform: uppercase;
          border-bottom: 3px solid $color-tertiary;
          padding-bottom: 5px;
          font-size: 1em;
          font-weight: 400;
          width: 45px;
      }
      .listMenu{
          display: flex;
          flex-direction: column;
          .checkItem{
              display: flex;
              background-color: $color-white;
              border-radius: 20px;
              box-shadow: $shadow-light;
              width: 100%;
              height: 60px;
              margin-bottom: 15px;
              overflow: hidden;
              .textItem{
                  margin: -7px 22px -7px 10px;
                  width: 100%;
                  h3{
                      font-size: 1.1em;
                      width: 80%;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                  }
                  .legendPrice{
                      display: flex;
                      justify-content: space-between;
                      margin-top: -30px;
                      p{
                          font-size: 0.9em;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                      }
                      p:nth-child(1){
                          width: 80%;
                      }
                      p:nth-child(2){
                          font-weight: 900;
                      }
                  }
              }
              .cursorCheck{
                  text-align: center;
                  width: 70px;
                  height: 60px;
                  background-color: $color-tertiary;
                  border-radius: 0px 20px 20px 0px;
                  margin-right: -70px;
                  animation: slideout 0.4s;
                  i{
                      margin-top: 21px;
                      color: $color-white;
                      font-size: 1.2em;
                  }
              }
              @keyframes slideout {
                  0% {
                      margin-right: 0px;
                  }
                  100% {
                      margin-right: -70px;
                  }
              }
          }
          .checkItem:hover{
              .cursorCheck{
                  display: initial;
                  animation: slide 0.7s both 0.1s;
                  i{
                      animation: rotate 0.9s ;
                  }
                  @keyframes rotate{
                          0%{transform: rotate(0deg); }
                          100%{transform: rotate(360deg); }
                      }
              }
              @keyframes slide {
                  0% {
                      margin-right: -70px;
                  }
                  100% {
                      margin-right: 0px;
                  }
              }
          }
      }
  }
  .checkItem{
      animation: fadein 1s backwards;
      @for $i from 1 through 10 {
          &--#{$i} {
              animation-delay: 0.2s * $i;
          }
      }
    }
  @keyframes fadein {
      0%{
          opacity: 0;
          margin-top: 10px;
      }
      100%{
          opacity: 1;
          margin-top: 0px;
      }
  }
}

.fa-heart{
  font-size: 1.6em;
  color: transparent;
  -webkit-text-stroke: 1px black;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.fa-heart:hover, .fa-heart:focus{
  background: linear-gradient(357deg, $color-primary 20%, $color-secondary 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0;
  animation: fill 1s both;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}