.header__title {
	display: flex;
	align-items: center;
	margin: 1rem;
	& a {
		position: absolute;
		left: 1rem;
	}
	&__imgBanner {
		width: 100%;
		z-index: -1;
		max-height: 30rem;
		object-fit: cover;
	}
}
