.pageResto {
    position: relative;
    margin: -5rem 0 0 0;
    background-color: var(--secondary-bg-color);
    border-radius: 3rem 3rem 0 0;
}

@keyframes selected {
    from {
        transform: translateX(-5rem);
        transition: 0.5s ease-in-out;
    }
    to {
        transform: translateX(0rem);
    }
}

.containerMenu {
    width: 100%;
    &__plat {
        width: 100%;
        &__title {
            position: relative;
            font-weight: 300;
            padding: 0 0 0.3rem 0;
            margin: 1rem;
            text-transform: uppercase;
            width: 95%;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 4rem;
                height: 0.2rem;
                background-color: var(--tertiary-color);
            }
        }
    }
    &__select {
        position: absolute;
        right: -5rem;
    }
    &__mets {
        &:hover &__infos__price {
            transform: translateX(-5rem);
            transition: 0.5s ease-in-out;
        }
    }
    &:hover &__select {
        transform: translateX(-5rem);
        transition: 0.5s ease-in-out;
    }
}

.btn__command {
    width: 10rem;
}
