.pageResto {
    position: relative;
    margin: -5rem 0 0 0;
    background-color: var(--secondary-bg-color);
    border-radius: 3rem 3rem 0 0;
}
.header__title {
    display: flex;
    align-items: center;
    margin: 1rem;
    & a {
        position: absolute;
        left: 1rem;
    }
    &__imgBanner {
        width: 100%;
        z-index: -1;
        max-height: 30rem;
        object-fit: cover;
    }
}

.nameResto {
    width: 100%;
    padding: 2rem 2rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
        font-family: "Shrikhand", sans-serif;
        font-size: 28px;
        color: var(--primary-text-color);
    }
    .clickHeart {
        margin: 0 0 0 2rem;
    }
}

.containerMenu {
    width: 100%;
    padding: 1rem;
    &__plat {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__title {
            text-transform: uppercase;
            position: relative;
            font-weight: 300;
            padding: 0 0 0.3rem 0;
            margin: 1rem 0;
            text-transform: uppercase;

            &::after {
                content: "";
                background-color: var(--tertiary-color);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 4rem;
                height: 0.2rem;
            }
        }
    }
}

@keyframes SlideUp {
    from {
        transform: translateY(4.5rem);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.containerMenu__plat > :nth-of-type(1) {
    animation: SlideUp 0.8s ease-in-out;
}
.containerMenu__plat > :nth-of-type(2) {
    animation: SlideUp 1s ease-in-out;
}
.containerMenu__plat > :nth-of-type(3) {
    animation: SlideUp 1.2s ease-in-out;
}
.containerMenu__plat > :nth-of-type(4) {
    animation: SlideUp 1.4s ease-in-out;
}
