@media (min-width: 768px) {
    .nameResto {
        display: flex;
        justify-content: center;
    }
    .pageResto {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .containerMenu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 20%;
        &__menu {
            width: 70%;
        }
    }
}
