.restaurants__card {
	display: flex;
	flex-direction: column;
	height: 17rem;
	width: 100%;
	border-radius: 15px;
	background-color: var(--primary-bg-color);
	box-shadow: var(--shadow);
	color: var(--primary-text-color);
	transition: 0.5s;
	img {
		width: 100%;
		object-fit: cover;
		height: 11rem;
		border-radius: 15px 15px 0 0;
	}
	&__resto {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1rem;
		&__text {
			margin: 0rem;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
}
