.howto__btn {
	display: flex;
	align-items: center;
	background-color: var(--secondary-bg-color);
	border-radius: 1.5rem;
	padding: 1.5rem 0;
	width: 100%;
	box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.15);
	transition: 0.5s;
	& i {
		color: var(--grisMoyen);
		padding: 0 1rem;
		font-size: 1.3rem;
	}
	&:hover {
		transition: all 80ms ease-in;
		& i {
			color: var(--primary-color);
		}
		&::before {
			transform: scale(1.5);
		}
	}
	&::before {
		counter-increment: steps;
		content: counter(steps);
		position: relative;
		left: -0.8rem;

		color: var(--secondary-text-color);
		width: 1.5rem;
		height: 1.5rem;

		background-color: var(--primary-color);
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
	}
}
