.explore {
    @include layout();
    padding: 0;
}
.reservations {
    background-color: var(--secondary-bg-color);
    padding: 2rem 0;
    width: 100%;
    & h2,
    p {
        text-align: center;
    }
    & h2 {
        font-weight: bolder;
        font-size: 1.5em;
    }
    & p {
        padding: 0 0 2rem 0;
        font-size: 18px;
        color: var(--primary-text-color);
    }
}
