.restaurants {
	@include layout();

	background-color: var(--secondary-bg-color);
	& h2 {
		max-width: 1024px;
		margin: auto;
		padding: 0;
	}
	&__list {
		@include layout();
		padding: 2rem 0;
		gap: 2rem;
	}
	&__card:hover {
		scale: 1.05;
	}
}
