@mixin hoverShadow {
    transition: 0.5s ease-in-out;
    opacity: 0.6;
}
.cta {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1.25rem;
	.cta__btn {
		color: var(--secondary-text-color);
		background: var(--cal-color);
		border-radius: 25px;
		padding: 1rem 1.25rem 1rem 1.25rem;
		box-shadow: 0px 3px 5px 2px #c5c5c5;
		transition-duration: 0.5s;
		&:hover {
			@include hoverShadow();
		}
	}
}