// @mixin heart() {
// 	font-size: 22px;
// 	position: absolute;
// 	right: 2rem;
// 	cursor: pointer;
// 	z-index: 2;
// }
// .clickHeart {
// 	&__fullHeart {
// 		opacity: 1;
// 	}
// 	&__emptyHeart {
// 		opacity: 0;
// 	}
// }
// .clickHeart__fullHeart {
// 	@include heart;
// 	background: var(--gradient1);
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	opacity: 0;
// }
// .clickHeart__emptyHeart {
// 	@include heart;
// 	opacity: 1;
// }
.heart {
	color: black;
	cursor: pointer;
	&:hover {
		animation: fill 0.3s ease-in-out;
		display: inline-block;
		opacity: 1;
		background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
		background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: bold;
	}
}
