// %flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// @keyframes itemappear {
//   0% {
//     transform: translateY(3rem);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
// // .containerPlats {
// //   @media (min-width: 992px) {
// //     display: flex;
// //     justify-content: center;
// //     width: 100%;
// //   }
// // }

// .menuPlat {
//   display: flex;
//   flex-direction: column;
//   width: 100%;

//   border-radius: 1rem;
//   background-color: #fff;

//   cursor: pointer;
//   overflow: hidden;

//   margin-bottom: 1rem;

//   animation: itemappear 0.8s;
//   animation-delay: 2.5s;
//   animation-fill-mode: both;
//   max-width: 100%;

//   &__done {
//     @extend %flex-center;
//     width: 4rem;
//     transition: 0.5s;
//     margin-right: -4rem;
//     background-color: var(--tertiary-color);
//   }

//   &:hover &__done {
//     margin-right: 0rem;
//   }

//   &__wrap {
//     @extend %flex-center;
//     width: 1.5rem;
//     height: 1.5rem;

//     background-color: var(--primary-bg-color);
//     border-radius: 5rem;

//     transform: rotate(180deg);
//     transition-duration: 0.5s;
//   }

//   &:hover &__wrap {
//     transform: rotate(0);
//   }

//   &__icon {
//     color: var(--tertiary-color);
//   }
// }
// @for $i from 1 to 10 {
//   .delay-#{$i} {
//     animation-delay: #{$i * 0.1}s;
//   }
// }
// // .containerPlats__menu {
// //   width: 100%;
// //   @media (min-width: 992px) {
// //     width: 33%;
// //   }
// //   &__title {
// //     position: relative;
// //     text-transform: uppercase;
// //     font-weight: 300;

// //     padding-bottom: 0.3rem;
// //     margin: 1rem 0;
// //     &::after {
// //       content: "";
// //       position: absolute;
// //       bottom: 0;
// //       left: 0;

// //       width: 4rem;
// //       height: 0.2rem;

// //       background-color: var(--tertiary-color);
// //     }
// //   }
// // }
// .containerPlats__mets > h2 {
//   font-size: 1.1rem;
//   font-weight: 500;
//   margin: 0;
// }
menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &__confirmation {
    background-color: var(--tertiary-color);
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  &:hover &__confirmation {
    margin-right: -1rem;
  }

  &__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }

  &:hover &__wrapIcon {
    transform: rotate(0);
  }

  &__icon {
    color: var(--tertiary-color);
  }
}
@for $i from 0 to 9 {
  .delay-#{$i} {
    animation-delay: #{$i/10}s;
  }
}
