.containerMenu {
	&__mets {
		margin: 0 1rem 1rem 0;
		background: var(--primary-bg-color);
		height: 5rem;
		width: 100%;
		border-radius: 1rem;
		position: relative;
		overflow: hidden;
		box-shadow: var(--shadow);
		cursor: pointer;

		&:hover .containerMenu__mets__infos {
			width: calc(100% - 4.5rem);
			transition: width 0.5s ease-in-out;
		}
		&:hover .containerMenu__select {
			transform: translateX(0px);
			transition: 0.5s ease-in-out;
		}

		&__title {
			margin: 1rem 0 0.5rem 1rem;
			font-size: 18px;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&__infos {
			display: flex;
			justify-content: space-between;
			overflow: hidden;
			width: 100%;
			transition-duration: 0.5s;
			&__text {
				margin: 0 0 0 1rem;
				font-size: 15px;
				font-weight: 300;
				color: var(--primary-text-color);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&__price {
				font-size: 15px;
				font-weight: 700;
				margin: 0;
				width: 4rem;
				padding: 0 1rem;
			}
		}
	}
	&__select {
		position: absolute;
		background-color: var(--tertiary-color);
		top: 0;
		bottom: 0;
		right: 0;
		width: 4.5rem;
		border-radius: 0 1.25rem 1.25rem 0;
		transform: translate(4.5rem);
		overflow: hidden;
		transition: 0.5s;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
